<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<vsf-paypal>
				<active>1</active>
				<model>Codemode\PayuVsfPayment\Model\Payment\PayU</model>
				<order_status>pending</order_status>
				<title>PayU</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</vsf-paypal>
		</payment>
	</default>
</config>
